<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="File" value="stocks-ITX.csv"/>
    <add key="File_filtered" value="stocks-ITX-filtered.csv"/>
  </appSettings>
</configuration>